* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.con {
  height: 100%;
}

.con .bg {
  opacity: 1;
  transform: none;
}

.bg {
  background: url('images/Desktop\ HD.png');
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fuckyou {
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 10%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  font-family: 'Roboto Mono', monospace;
  color: whitesmoke;
}
